{% extends "base.html" %}
{% block title %}View Subject{% endblock %}
{% block body %}

<div class="container mt-4">
    <h1 class="formal text-center text-light mt-2 mb-4"><b>Chapter Details for {{ chapter.name }}</b></h1>
    <h5 class="text-center fw-bold text-primary heading">Welcome, {{ session['user_name'] }}</h5>
    <!-- Navigation Bar -->
    <div class="d-flex justify-content-between align-items-center p-3 bg-dark rounded shadow-sm py-2 mt-2 mb-4">
        <nav>
            <a class="btn btn-outline-success px-3" href="">Home</a>
            <a class="btn btn-outline-success px-3" href="{{url_for('quiz')}}">Scores</a>
            <a class="btn btn-outline-success px-3" href="{{ url_for('summary') }}">Summary</a>
        </nav>
        <div class="d-flex align-items-center gap-3">
            <form method="GET" action="{{ url_for('search') }}">
                <div class="input-group">
                    <input type="search" name="query" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" required />
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for quiz in quizzes %}
        <div class="col-md-6">
            <div class="card border-primary shadow-sm mb-3">
                <div class="card-header bg-primary text-white text-center">
                    <a style="hover: none; text-decoration: none; color: inherit;" data-toggle="tooltip" title="Click to view details" href="{{ url_for('chapter', chapter_id=chapter.id) }}">
                        <h5 class="heading"><b>Chapter {{ chapter.id }} ({{ chapter.name }}) </b></h5>
                    </a>
                </div>
                <div class="card-body bg-dark text-light">
                    <p><strong>Description:</strong> {{ chapter.description }}</p>
                    <p><strong>Subject:</strong> {{ subjects[chapter.subject_id - 1].name }}</p>
                </div>
                <div style="background-color: #17153B;" class="d-flex justify-content-between card-footer text-light text-center">
                    <a href="{{ url_for('quiz_master', quiz_id=quiz.id) }}" class="btn btn-primary btn-sm">Take Quiz</a>
                    <a href="{{ url_for('chapter', chapter_id=chapter.id) }}" class="btn btn-primary btn-sm">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <button onclick="history.back()" class="btn btn-outline-warning" style="width: 100px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
    </div>
</div>

{% endblock %}